{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {{ form_start(form, { attr: { novalidate: 'novalidate' } }) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.company) }}

        <div>
            <p>{{ 'construction_site_address'|trans }}</p>
            {{ form_row(form.street) }}
            {{ form_row(form.postalCode) }}
            {{ form_row(form.city) }}
        </div>

        {{ form_row(form.comment) }}
        {{ form_row(form.attachedFile) }}

        <input type="submit" class="btn btn-primary" value="{{ 'send'|trans }}">

        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}