<p>{{ 'new_contact'|trans }} :</p>

<div>
    <p>{{ 'lastname'|trans }} : {{ contact.lastname }}</p>
    <p>{{ 'firstname'|trans }} : {{ contact.firstname }}</p>
    <p>{{ 'email'|trans }} : {{ contact.email }}</p>
    <p>{{ 'company'|trans }} : {{ contact.company }}</p>

    <div>
        <p>{{ 'construction_site_address'|trans }} :</p>
        <p>{{ 'street'|trans }} : {{ contact.street }}</p>
        <p>{{ 'postal_code'|trans }} : {{ contact.postalCode }}</p>
        <p>{{ 'city'|trans }} : {{ contact.city }}</p>
    </div>

    <p>{{ 'comment'|trans }} : {{ contact.comment }}</p>
</div>